#loadR{
	float: left;
    width: 100%;
}
#startR{
	float: left;
    width: 100%;
}

#newRecordingSetUp{
	/*visibility: hidden;*/
}

#form {
	    position: absolute;
    top: 85px;
    width: 90%
}

#formName{
	width: 100%;
}
.button1 {
	width: 100%;
}
.button1 + .button1{
	float: left;
}
body{
	display: block !important;
}
/*.slowDown{
	transition:ease 0.25s all;
-webkit-transform:translate(-50%, -50%);
transform:translate(50%, -50%);
}*/